body {
	font-family: 'Roboto', sans-serif;
}

.text-error{
	color: red;
}

#titulo{
	border-bottom: 1px solid #eaeaea;
}

#contenido{
	margin-top: 20px;
}

label{
	font-weight: 100;
}

.label{
	font-size: 85% !important;
}

#divider{
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 10px;
}